body{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 200px;
    background-color: #435399;   /*헤더 스타일 입니다.*/
    text-align: center;
    background: linear-gradient(to right, #f6ffd9, #c1d3ff); 
 
    border-radius: 3px; color: #ffffff;
}

header > div{
    float: center;
}

header h1, header p{
    color: white;
    text-align: center;
    margin: 30px;
}

nav{
    clear: both;
    height: 40px;
    background: linear-gradient(to right, #f6ffd9, #c1d3ff); 
    /* background-color: hsl(255, 100%, 83%); */
    text-align: center;
    color: #ffffff;
    border-radius: 1em; 

   
     box-shadow: 1px 2px 10px rgba(0,0,0,0.1);  

}

nav a{
    width: 150px;
    height: 40px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

nav a:link, nav a:visited{
    color: white;
}

nav a:hover, nav a:active{
    background-color: white;
    color: #9097DE;
}

section{
    margin: 10px;
    padding: 20px;
    width: 45%;
    height: 500px;
    float: left;
    border: solid 1px #9097DE;
    box-sizing: border-box;
}

h2{
    margin: 10px;
    padding: 20px;
    background-color: #cedcff;
    color: white;
    border-radius: 1em; 
}

section p, section ul, section ol{
    padding-left: 50px;
}

section a{
    width: 80%;
    height: 15px;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
}

footer{
   clear: both;
   height: 50px;
   background-color: #eaeaea;
   color: #9097DE;
   padding: 20px;
   font-size: 12px;
}
#msg {
    border: 2px solid #9097DE ;     /*msg 는 오늘 한 일 섹션에 textarea 부분의 스타일에 해당한다*/
    margin-top : 10px;
    margin-left : 10px;
    width : 97%;
    height : 350px;
    box-sizing : border-box;
}

#txt_name{
    text-align:center;
    background-color:white ;    /*헤더에 이름 적는 부분 스타일에 해당한다*/
    height: 40px;
}

#map{                             /*지도 부분 css에 해당한다*/
    margin-left:10px;
    width:98%;
    height:300px;
}

#use_all{
    text-align: center;
    width:45%;
    height: 30%;
    float: left;;
    border-bottom: 2px solid #9097DE ;  
    /* padding-right: 30%; */
}
#use {
    display: inline-block;
    border-top: 2px solid #9097DE ;  
    /* margin-left: 40px;
    margin-right: 40px; */
    padding: 30%;
    width : 20px;
    height: 20px;
    box-sizing : border-box;
    align-items: center;
    text-align: center;
}
#earn_all{
    /* display: inline-block; */
    width: 45%;
    height: 30%;
    float:right;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #9097DE ;  
} 
#earn {
    display: inline-block;
    
    border-top: 2px solid #9097DE ;  
    /* margin-left: 40px;
    margin-right: 40px; */
    padding: 30%;
    width : 20px;
    height: 20px;

    box-sizing : border-box;
    
    align-items: center;
    text-align: center;

}
#total_money{
    text-align: center;
    padding-left: 0;


}
#total_use {
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;

    border-radius: 25px;
    border: 2px solid #9097DE ;
    margin-top : 5px;
    /* margin-left: 15px;
    margin-right:5px; */
    padding: 10px;
    width : 200px;
    height : 60px;
    box-sizing : border-box;
    /* float: left ; */
    color: rgb(9, 9, 137);
    text-align: center;

}


#form_input{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width : 90%;
    height : 60px;
    box-sizing : border-box;
    display: flow-root;

    
   
}
#form1{
    width: 40%;
    float: left;
    padding: auto;
    
}
#form2{
    width: 40%;
    float: right;
}
#form3{
    text-align: center;
    box-sizing : border-box;
    width: 90%;
    padding: 50px;

}



#tbl0{                               /*날씨 섹션의 표 스타일에 해당한다*/
width : 45%;
border : 2px solid #435399;
}

#tbl0 th{
    border : 1px solid #435399;
    text-align: center;
}

#tbl0 td{
    border : 1px solid #435399;
    text-align: center;
}

#wea{
    margin-left: 10px;
}